@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300&display=swap');


:root {
  --background: #f4f4f9;
  --color-jsons: #8babbb9c;
  --color-jsons-border: #8babbb;
  --color-footer: #2F4550;
  --font-color: #2F4550;
}

body {
  background-color: var(--background);
}

#app {
  font-family: 'Be Vietnam Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
}

input {
  margin-top: 2vh;
}


.buttons { 
  margin: 0 10vw;
  margin-top: 2vh;
}

.jsons {
  display: flex;
  margin-top: 4vh;
}

.json {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  border: 5px solid var(--color-jsons-border);
  margin: 0 15px;
  background-color: var(--color-jsons);
  border-radius: 10px;
}

.scroll {
  display: flex;
  overflow: auto;
  justify-content: center;
}

.scroll pre {
  font-size: 20px;
  text-align: left;
}

footer {
  height: 15vh;
  background-color: var(--color-footer);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 25px;
}

.key { color: #123346; }
.string { color:#776957; }

.download {
  display: none;
}


button {
  font-family: 'Be Vietnam Pro', sans-serif;
	background-color: #476879;
	border-radius: 10px;
	border:2px solid #2F4550;
	cursor:pointer;
	color:#ffffff;
	padding:10px 25px;
	text-decoration:none;
  font-size: 18px;
}
button:hover {
	background-color:#2F4550;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
	background-color: #476879;
	border-radius: 10px;
	border:2px solid #2F4550;
	cursor:pointer;
	color:#ffffff;
	padding:10px 25px;
	text-decoration:none;
  font-size: 18px;
}

/* .input-file:focus + label, */
.input-file + label:hover {
  background-color: #2F4550; 
}



/* width */
::-webkit-scrollbar {
  border-radius: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--font-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2F4550;
}

/* ------- */
.info {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.names {
  font-size: 20px;
}

.icons {
  margin-top: 10px;
  width: 100%;
}

.icons i {
  font-size: 20px;
  margin-left: 10px;
}

a, a:focus, a:active a:visited{
  text-decoration: none;
  color: inherit;
}

i:hover {
  color: var(--color-jsons-border)
}